body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: #21D4FD;
  background-image: linear-gradient(86deg, #21D4FD 0%, #B721FF 100%);
}

button {
  cursor: pointer;
}

